h1 {
    font-size: 5em;
}

#profile_pic {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

.social-icon{
    height: 50px;
}

body{
    color: rgb(255, 255, 255);
}

body {
    background-color: gray;
}
